.slider{
	background: url(../images/dest/main-back.jpg) no-repeat 100% 0;
	background-size: cover;
	min-height: 100vh;
    
	&__prev {
display: flex;
align-items: left;
justify-content: left;
left: 130px;
position: absolute;
color: azure;
	}
	&__next {
display: flex;
align-items: right;
justify-content: right;
right: 130px;
position: absolute;
color: azure;
	}
	&__pagination {
		.swiper-pagination-bullet {
			position: absolute;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			transform: translate3d(0,0,0);
			z-index: 10;
			&.swiper-pagination-bullet-active {
				width: 8px;
				height: 8px;
				display: inline-block;
				border-radius: 50%;
				background: #000;
				opacity: .2;
			}
		}
	}
}
.swiper-container main-slide {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 1620px;
    height: 640px;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 370px;
	margin-left: 0;
}
.swiper-slider {
	position: relative;
	width: 610px;
    height: 280px;	
}