.slider{
	background: url(../images/dest/main-back.jpg) no-repeat 100% 0;
	background-size: cover;
	min-height: 100vh;
    
	&__prev {
display: flex;
align-items: left;
justify-content: left;
left: 130px;
color: azure;
	}
	&__next {
display: flex;
align-items: right;
justify-content: right;
right: 130px;
color: azure;
	}
	&__pagination {
		.swiper-pagination-bullet {
			position: absolute;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			transform: translate3d(0,0,0);
			z-index: 10;
			&.swiper-pagination-bullet-active {
				border-radius: 50%;
				background: #000;
				opacity: .2;
			}
		}
	}

.swiper-container {
	&.main-slider{
	display: flex;
	align-items: center;
    justify-content: center;
	max-width: 1620px;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 370px;
	margin-left: 0;
}
}
.swiper_slide .container {
	display: flex;
	align-items: center;
	width: 610px;
    height: 280px;		
}
.text-slider {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 610px;
    height: 280px;	
}
}